/* ANCHOR GLOBAL */

* {
    box-sizing: border-box;
}
html, body {
    margin: 0 auto;
    height:100%;
} 
h1, h2 {
    font-family: 'Roboto Slab', serif;
}
strong {
    color: #505050;
}
hr.yellow {
    margin: 3rem auto;
    width: 30%;
    height: .5rem;
    background: #FFCC00;
    border: none;
    border-radius: 3px;
}
.btn {
    font-size: .7rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 10px 25px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #000000;

    background-color: #FFCC00;
    border: none;
    border-radius: 5px;
    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.15));
    -webkit-transition: -webkit-filter .2s;
    transition: -webkit-filter .2s;
    -o-transition: filter .2s;
    transition: filter .2s;
    transition: filter .2s, -webkit-filter .2s;
}
.btn:hover {
    background-color: #FFCF00;
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
}



/* ANCHOR SECTIONS STYLE */

.home-page {
    background: url("https://cdn.pixabay.com/photo/2016/03/27/19/00/coffee-1283672_960_720.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* ANCHOR HEADER */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    height: 6rem;
    background: transparent;
    transition: all .3s;
}
.navbar.down {
    height: 4rem;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.navbar .logo {
    height: 5rem;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
    transition: all .3s;
}
.navbar.down .logo {
    height: 3rem;
    filter: none;
}
.navbar .links {
    order: 3;
}
.navbar .link {
    position: relative;
    font-family: 'Varela Round', serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: .9rem;
    padding: 1rem;
}
.navbar .link:after {
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px; 
    background: #FFCC00;
    transition: transform .3s;
}
.navbar .link:hover::after {
    transform: scaleX(1);
}
.navbar.down .link {
    color: #505050;
}
.sidebar {
    display: none;
}



/* ANCHOR FOOTER */

.footer {
    padding: 1rem 0;    
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.footer-nav {
    width: 30%;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.footer-nav .link {
    position: relative;
    font-family: 'Varela Round', serif;
    color: #808080;
    text-decoration: none;
    font-size: .8rem;
}
.footer-nav .link:after {
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px; 
    background: #FFCC00;
    transition: transform .3s;
}
.footer-nav .link:hover::after {
    transform: scaleX(1);
}
.footer-icons {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-icons object {
    height: 2rem;
}
.footer-logo {
    width: 30%;
}
.footer-logo img {
    width: 60%;
    margin-left: 20%;
}



/* ANCHOR ACCUEIL */

.typewriter-container {
    padding: 10rem 0 7rem 0;
    width: 100%;
    color: #FFFFFF;
}
.typewriter-container .word {
    font-size: 4rem;
    font-family: 'Long Cang', serif;
    font-weight: 400;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}
.activities {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 0 0 10rem 0;
    color: #FFFFFF;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}
.activities span {
    padding: 0 2rem;
    font-family: 'Long Cang', serif;
    font-size: 2.5rem;
    color: #FFCC00;
}
.blockquotes {
    display: flex;
    height: 25vw;
}
.blockquotes .quote, .blockquotes .thumb {
    width: 50%;
}
.blockquotes .quote {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}
.blockquotes .quote p {
    width: 80%;

    font-family: 'Caveat', serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
    color: #505050;
}
.blockquotes .quote-symbole {
    padding: 0 1rem;
    color: #FFCC00;
}
.blockquotes .quote.right { clip-path: inset(0px 0px 0px -50px); }
.blockquotes .quote.left { clip-path: inset(0px -50px 0px 0px); }
.blockquotes .arrow-right, .blockquotes .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent; 
    border-bottom: 30px solid transparent; /* 40px height (20+20) */
    position:absolute;
}
.blockquotes .arrow-right {
    right:-30px;
    border-left: 30px solid #FFFFFF;
}
.blockquotes .arrow-left {
    left:-30px;
    border-right: 30px solid #FFFFFF;
}
.blockquotes .thumb {
    overflow: hidden;
}
.blockquotes img {
    object-fit: cover;
}
.blockquotes video {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.statistics {
    background: #FFFFFF;
}
.statistics h1 {
    text-align: center;
    color: #505050;
}
.statistics-bars {
    width: 80%;
    margin: auto;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-around;
}
.statistics-bars .circle {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    color: #505050;
    font-family: 'Varela Round', serif;
    text-align: center;
}
.statistics-bars p {
    font-style: italic;
}

.accueil-button {
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 4rem;
}



/* ANCHOR EXPERTISES */

.expertises-header  {
    background: url("https://cdn.pixabay.com/photo/2016/08/02/11/13/graphic-design-studio-1563080_960_720.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.expertises-header h1 {
    margin: 0;
    padding: 4rem;
    padding-top: 10rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Long Cang', serif;
    font-weight: 400;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
    color: #FFFFFF;
}

.expertises-page .thumb {
    position: relative;
}
.expertises-page .thumb span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Long Cang', serif;
    font-weight: 400;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
}

.expertises-button {
    margin: 4rem;
    text-align: center;
}


/* ANCHOR TRAVAUX */

.travaux-header  {
    background: url("https://cdn.pixabay.com/photo/2014/05/03/00/45/computer-336628_960_720.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.travaux-header h1 {
    margin: 0;
    padding: 4rem;
    padding-top: 10rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Long Cang', serif;
    font-weight: 400;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
    color: #FFFFFF;
}
.travaux-page .galery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.galery .galery-item {
    margin: 4rem;
    width: 30%;
    font-family: 'Roboto Slab', serif;
    font-size: .8rem;
    color: #505050;
    text-align: center;
}
.galery-item img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.travaux-footer {
    margin-bottom: 2rem;
    font-family: 'Roboto Slab', serif;
    font-size: .7rem;
    color: #50505050;
    text-align: center;
}



/* ANCHOR CONTACT&TARIFS */

.contact-header  {
    background: url("https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_960_720.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact-header h1 {
    margin: 0;
    padding: 4rem;
    padding-top: 10rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Long Cang', serif;
    font-weight: 400;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
    color: #FFFFFF;
}
.contact-form p {
    text-align: center;
    width: 50%;
    margin: 4rem auto 2rem auto;
    color: #505050;
    font-family: 'Roboto Slab', serif;
}
.contact-page form {
    width: 35%;
    margin: auto;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 1.1rem;
    color: #202020;
}
.form-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.form-group .input {
    width: 40%;
}
.input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 1.8rem 0;
}
.contact-page label {
    padding-bottom: 1rem;
}
.contact-page textarea {
    height: 5rem;
    resize: none;
}
.contact-page input, .contact-page textarea, .contact-page select {
    width: 100%;
    margin: auto;
}
.contact-page input, .contact-page textarea, .contact-page select, .contact-page option {
    padding: 14px;
    line-height: 15px;
    border: none;
    border-bottom: 1px solid #505050;
}
.contact-page select {
    font-weight: 700;
    color: #202020b3;
}
.contact-page select:focus {
    color: #202020;
}
.contact-page input:focus,
.contact-page textarea:focus,
.contact-page select:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #FFCC00;
}
.placeholder {
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.placeholder.active {
    top : 110%;
    opacity: 1;
    color: #505050;
}
.feedbacks, .errors {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    font-weight: 700;
    text-align: center;
}
.errors {
    color: #ff3c3c;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}



/* ANCHOR CGU */

.cgu-page .mentions {
    width: 80%;
    margin: auto;
    font-family: "Roboto Slab", serif;
    color: #505050;
    margin-bottom: 3rem;
}

.cgu-page p {
    font-size: 0.8rem;
}


        /* SECTION MEDIA QUERIES */

/* ANCHOR HTML FONTSIZE */

@media screen and (min-width:1000px) and (min-resolution: 1dppx) {
    html {
        font-size: 130%;
    }
}
@media screen and (min-width:1000px) and (min-resolution: 1.25dppx) {
    html {
        font-size: 115%;
    }
}
@media screen and (min-width:1000px) and (min-resolution: 1.5dppx) {
    html {
        font-size: 100%;
    }
}
@media screen and (max-width:1000px) and (min-resolution: 1.5dppx) {
    html {
        font-size: 75%;
    }
}



/* ANCHOR < 700px */

@media all and (max-width: 700px) {
    .navbar-icon {
        position: relative;
        display: inline-block;
        width: 4rem;
        height: 4rem;
    }
    .navbar-icon::after {
        content: "";
        position: absolute;
        display: block;
        height: 0;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        box-shadow: 0 0rem 0 0.2rem #FFFFFF, 0 1rem 0 0.2rem #FFFFFF, 0 2rem 0 0.2rem #FFFFFF;
    }
    .navbar.down .navbar-icon::after {
        top: 0;
        box-shadow: 0 1rem 0 0.2rem #505050, 0 2rem 0 0.2rem #505050, 0 3rem 0 0.2rem #505050;
    }
    .navbar .links {
        display: none;
    }
    .sidebar .link {
        display: block;
        font-family: 'Varela Round', serif;
        color: #505050;
        text-decoration: none;
        padding: 2rem;
        font-size: 1.5rem;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 80%;
        background: #FFF;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        text-align: center;
        transform: translateX(101%);
        transition-duration: .3s;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    .sidebar .logo {
        width: 30%;
    }
    .sidebar.active {
        transform: translateX(0%);
    }
    .site-cache.active {
        display: block;
    }
    .site-cache {
        display: none;
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right:0;

        background-color: rgba(0, 0, 0, 0.5);

        z-index: 99;
    }
    .footer {
        padding: 1rem 0;    
        display: block;
    }
    .footer-nav {
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer-nav .link {
        display: block;
        font-size: 1rem;
        margin: .5rem auto;
    }
    .footer-nav .link:after {
        height: 0px; 
        background: transparent;
    }
    .footer-nav .link:hover::after {
        transform: scaleX(0);
    }
    .footer-icons {
        width: 70%;
        margin: 2rem auto;
        justify-content: space-around;
    }
    .footer-logo {
        width: 50%;
        margin: auto;
    }

    
    .typewriter-container .word {
        font-size: 3rem;
    }
    
    .activities {
        font-size: 1.5rem;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        padding: 0 0 10rem 0;
        color: #FFFFFF;
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
    }
    .activities span {
        padding: 0 .5rem;
        font-family: 'Long Cang', serif;
        font-size: 2rem;
        color: #FFCC00;
    }
    
    .blockquotes {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .blockquotes .quote, .blockquotes .thumb {
        height: 100%;
        width: 100%;
        background-color: #FFFFFF;
    }
    .blockquotes .thumb img {
        height: 100%;
        width: 100%;
    }
    
    .home-page .blockquotes:nth-of-type(2n) .quote {
        order: 2;
    }
    .home-page .blockquotes:nth-of-type(2n) .thumb {
        order: 1;
    }
    .expertises-page .blockquotes:nth-of-type(1n) .quote {
        order: 2;
    }
    .expertises-page .blockquotes:nth-of-type(1n) .thumb {
        order: 1;
    }
    .blockquotes .quote {

        background: #FFFFFF;
        filter: none;
    }
    .blockquotes .quote.right { clip-path: none; }
    .blockquotes .quote.left { clip-path: none; }
    .blockquotes .arrow-right {
        display: none;
    }
    .blockquotes .arrow-left {
        display: none;
    }

    .statistics-bars {
        padding-bottom: 0;
        flex-wrap: wrap;
    }
    .statistics-bars .circle {
        width: 80%;
        padding-bottom: 3rem;
    }

    .travaux-header h1 {
        font-size: 3rem;
    }
    .galery .galery-item {
        width: 80%;
        font-size: 1rem;
    }
    .travaux-footer {
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
    }
    .contact-header h1 {
        font-size: 3rem;
    }
    .contact-form p {
        width: 90%;
        text-align: justify;
    }
    .contact-page form {
        width: 90%;
    }
    .cgu-page .mentions {
        width: 95%;
    }
    
    .cgu-page p {
        font-size: 0.8rem;
    }
}